:root{
    --c1: #f39c12;
    --c2: #100E17;
    --c3: #1D1F23;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

html{
  scroll-behavior: smooth;}

body{
  font-family: 'Roboto Condensed', sans-serif;

  color: #ffffff;
  background-color: var(--c2);
  /* font-size: 62.5%; */}

img{
  max-width: 100%;}

h1{
  font-size: 3rem;
  font-weight: 300;}

h2{
  font-size: 2rem;
  font-weight: 400;}

h3{
  font-size: 1.5rem;
  font-weight: 400;}

  h4{
    font-size: 1.2rem;
    font-weight: 300;}


.contenedor{
  width: 90%;
  margin: 0 auto;}

.seccion{
  padding-bottom: 2.2rem;}

section .box{
  margin: 0 auto;
}

  /* --------------Header */

.contenedor_header{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;}

.mi_foto {
  background-image: url("./img/yo.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  margin: 0 auto;}

h1{
  padding: 2rem 0 0 0;
  color: var(--c1);
  text-align: center;}

h1 span{
    font-weight: 400;
    color: #ffffff;}

.intro{width: 70%;}

.intro p{
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.2rem;}

/* --------------Kenntnisse */

.titulo{
  color: var(--c1);
  text-align: center;}

.box_skill{
  margin: 2rem 0;}
.box_skill:last-child{
   margin-bottom: 0;}


.grupo_skill{
  margin-top: 1.5rem;}

.barra {
  margin: .5rem 0;
  width: 50%;
  height: 5px;
  background-color: var(--c1);}

.grupo_logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo{
  background-color: var(--c3);
  padding: 1rem;
  flex-basis: calc(50% - .5rem);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;

}
.logo img{
  width: 30%;
  filter: invert(100%);
}

/* --------------Ausbildung */
.ausbildung-item{
  margin-top: 2rem;
  border-bottom: 1px solid var(--c1);}
.ausbildung-item:last-child{
  border-bottom: 0;}
.aus-description{
  margin: 2.5rem 0;
font-size: 1rem;}

/* --------------Sprachen */

/* -------------Beruﬂicher Werdegang */
