:root{
    --c1: #f39c12;
    --c2: #100E17;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

html{
  scroll-behavior: smooth;}

body{
  font-family: 'Roboto Condensed', sans-serif;

  color: #ffffff;
  background-color: var(--c2);
  /* font-size: 62.5%; */}

img{
  max-width: 100%;}

h1{
  font-size: 3rem;
  font-weight: 300;}

h2{
  font-size: 2rem;
  font-weight: 400;}

h3{
  font-size: 1.5rem;
  font-weight: 400;}

  h4{
    font-size: 1.2rem;
    font-weight: 300;}


.contenedor{
  width: 90%;
  margin: 0 auto;}

.seccion{
  padding-bottom: 2.2rem;}

section .box{
  /* background-color: gray; */
  margin: 0 auto;
}

  /* --------------Header */

.contenedor_header{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 90vh;}

.mi_foto {
  background-image: url("./img/yo.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  margin: 0 auto;}

h1{
  padding: 2rem 0 0 0;
  color: var(--c1);}

h1 span{
    font-weight: 400;
    color: #ffffff;}

.intro p{
  line-height: 2.5rem;
  font-size: 1.2rem;}

/* --------------Kenntnisse */

.titulo{
  color: var(--c1);
  text-align: center;}

.box_skill{
  margin-top: 2.5rem;}

.grupo_skill{
  margin-top: 1.5rem;}

.barra {
  margin: .5rem 0;
  width: 50%;
  height: 5px;
  background-color: var(--c1);}

.grupo_logos{
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: space-around;
}
.logo{
  /* width: 25%; */
  filter: invert(100%);
}
/* --------------Ausbildung */


/* --------------Sprachen */

/* -------------Beruﬂicher Werdegang */
