.arbeit__item{
    padding: 0em 1em 2em;
}

.arbeit__name{
    font-size: 1em;
    margin-bottom: 0.3em;
}

.arbeit__date{
    font-size: 0.9em;
    color: $color3;
    font-weight: 400;
    margin-bottom: 0.3em;
}
.arbeit__firma{
    margin-bottom: 0.5em;
}

ul li{
    margin-left: 1em;
}
ul li span{
    font-size: 0.9em;
}
