.ausbildung__item{
    padding: 0em 1em 2em;
}

.ausbildung__name{
    font-size: 1em;
    padding-bottom: 0.3em;
}

.ausbildung__date{
    font-size: 0.9em;
    color: $color3;
    font-weight: 400;
    padding-bottom: 0.3em;
}

.ausbildung__schule{
    margin-bottom: 0.3em;
}

.ausbildung__description{
    font-size: 0.8em;
    line-height: 1.3em;
}