#header {
    background-color: $color1;
}
.logo_carlos {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: .5em;
    font-weight: lighter;
}
.monitor__img{
    display: none;
}
